<div id="form-top-page">
  <div id="form-div"><%= render 'search_form' %></div>
</div>
<div class="container">
  <h2 class="section-title-home">
    <div class="section-title-home-content" style="font-size:30px;">
      Amazing families are waiting for you
    </div>
  </h2>
  <% if params[:night].present? && params[:capacity].present? %>
    <p></p>
  <% else %>
    <p style="font-size:10px"><i>*All of our prices are given per person & per night
  <% end %>
  <div class="row">
    <% @families.each do |family| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-image">
            <%= link_to family_path(family) do %>
              <%= cl_image_tag family.photo, height: 250, width: 350, crop: :fill, gravity: :north %>
            <% end %>
          </div>

          <div class="card-name">
            <h3><%= family.name %></h3>
          </div>
          <div class="card-description">
            <ul class="list-inline">
              <li><i class="fas fa-male"></i> Up to <strong><%= family.capacity %> guests</strong></li>
              <% if params[:night].present? && params[:capacity].present? %>
                <li>Price: <strong><%= family.price_pppn.to_i*params[:night].to_i*params[:capacity].to_i %><i class="fas fa-euro-sign"></i></strong></li>
              <% else %>
                <li>Price: <strong><%= family.price_pppn.to_i %><i class="fas fa-euro-sign"></i></strong></li>
              <% end %>
            </ul>
          </div>
          <div class="check-card-details">
            <%= form_tag family_path(family), method: :get, class: "form-inline #{@new_class}text-center" do %>
              <%= hidden_field_tag :price_pppn, family.price_pppn.to_i %>
              <%= hidden_field_tag :capacity, params[:capacity] %>
              <%= hidden_field_tag :night, params[:night] %>
              <%= button_tag class:'card-link text-center', type: "submit" do %>
                <i class="fas fa-angle-double-right"></i>
                <span>Check details</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
