
<div class="container">
  <h2><%= @family.name %></h2>
  <%= cl_image_tag @family.photo, height: 400, width: 500  %>
  <p><%= @family.description %></p>
  <p><%= "For #{@family.capacity} people max" %></p>
  <p><%= "#{@family.price_pppn}€/day/person" %></p>
</div>

<%= render 'shared/bookingform' %>

<% if policy(@family).edit? %>
  <%= link_to "Edit", edit_family_path(@family) %>
<% end %>

<% if policy(@family).destroy? %>
  <%= link_to "Delete", family_path(@family), method: :delete, data: { confirm: "Are you sure you want to delete this family?" } %>
<% end %>
