<div class="container">
  <h2>Find your bookings below</h2>
  <% @bookings.each do |booking| %>
    <%= @families.each do |family| %>
    <div class="card">
      <div class="card-image">
        <%= cl_image_tag family.photo, height: 200, width: 250 %>
        <%= link_to "", family_path(family) %>
      </div>
      <div class="card-name">
      <%= link_to "link to booking show", booking_path(booking) %>
        <h3><%= link_to family.name, family_path(family) %></h3>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <h2>Booking Form</h2>
      <%= simple_form_for :booking do |f| %>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"}  %>
        <%= f.button :submit, "Book now!", class: "btn btn-success" %>
      <% end %>
  </div>
</div>


 <p><%= link_to "make a new search" %></p>
