<div class="banner" data-images="<%= image_url 'banner-1.jpg' %>,<%= image_url 'banner-2.jpg' %>,<%= image_url 'banner-3.jpg' %>">
  <div class="banner-content">
    <h1>We are Familive</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div class="container">
      <br>
      <br>
      <br>
      <%= simple_form_for(Family.new, url: :families, method: :get, html: { class: 'form-inline' }) do |f| %>
        <%= f.input :price, placeholder: "$ Price", label: false %>
        <%= f.input :capacity, placeholder: "How many people?", label: false %>
        <%= f.input :night, label: false, placeholder: "How many nights?" %>
        <%= f.submit class:'btn btn-success', value: "Search" %>
      <% end %>
    </div>
  </div>
</div>


