<div class="container">
  <h2 class="section-title-home">
    <div class="section-title-home-content" style="font-size:30px;">
      Hello, <%= current_user.first_name %> <%= current_user.last_name %>
    </div>
  </h2>
  <div id="booking-tabs" class="tabs" >
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active tab"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><h3>Your bookings</h3></a></li>
          <li role="presentation" class="tab"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><h3>Your families</h3></a></li>
        </ul>
  </div>

  <div id="booking-pad" class="pad">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="row">
          <h3>Find your bookings below</h3>
          <% @bookings.each do |booking| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div id='profile-container' class="card">
                <div class="card-image">
                  <%= cl_image_tag booking.family.photo, height: 250, width: 350, crop: :fill, gravity: :north %>
                </div>
                <div class="card-name">
                <h3><%= booking.family.name %></h3>
                </div>
                <div class="card-description">
                  <ul class="list-inline">
                    <li><i class="fas fa-male"></i> <strong><%= booking.number_guests %> guests</strong>
                    </li>
                    <li>Price: <strong><%= booking.family.price_pppn.to_i* params[:night].to_i*params[:capacity].to_i %><i class="fas fa-euro-sign"></i></strong>
                    </li>
                    <li><strong>From</strong> <em> <%= booking.start_date %></em> <strong>to</strong> <em><%= booking.end_date%></em>
                    </li>
                  </ul>
                </div>
                <div class="check-card-details">
                  <i class="far fa-check-circle"></i>
                  <span>Confirmed</span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <div class="row">
          <h3>Find your families below</h3>
            <%  current_user.families.each do |family|  %>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                  <div class="card-image">
                    <%= cl_image_tag family.photo, height: 250, width: 350, crop: :fill, gravity: :north %>
                  </div>
                  <div class="card-name">
                    <h3><%= family.name %></h3>
                  </div>
                  <div class="card-description">
                    <ul class="list-inline">
                      <li><i class="fas fa-male"></i> <strong><%= family.capacity %> guests</strong>
                      </li>
                      <li>Price: <strong><%= family.price_pppn %><i class="fas fa-euro-sign"></i></strong>
                      </li>
                    </ul>
                  </div>
                  <div id="family" class="check-card-details">

                      <%= link_to edit_family_path(family) do %>
                        <i class="fam far fa-edit"></i>
                      <% end %>
                      <%= link_to family_path(family), method: :delete, data: { confirm: "Are you sure you want to delete this family?" } do %>
                        <i class="fam far fa-trash-alt"></i>
                      <% end %>

                  </div>
                </div>
              </div>
            <% end %>
        </div>
      </div>
  </div>
</div>


